.container {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  padding: 3rem 1rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}

.block {
  width: 250px;
  margin-bottom: 3rem;
}

.list {
  margin-left: 16px;
}
