.container {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  padding: 5rem 1rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.profileList {
    margin-left: 16px;
}
