.container {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  padding: 5rem 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  position: relative;
}

.logoImage {
  width: 300px;
  border-radius: 50%;
  filter: contrast(20%) brightness(160%);
}

.logoText {
  font-size: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: "Carter One", sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav li {
    margin: 0 12px;
    font-size: 2.5rem;
    font-family: "Carter One", sans-serif;
    list-style:none;
}

.nav a {
    text-decoration: none;
    color: var(--text-color)
}
