:root {
  --text-color:       #1F1F1F;
  --background-color: #FFFDFA;
}

html,
body {
  color:            var(--text-color);
  background-color: var(--background-color);
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}
