:root {
  --text-color: #1F1F1F
}

html,
body {
  color: var(--text-color);
  background-color: #FFFDFA;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
